<div class="container-fluid">
    <div  class=" text-end  mt-3">
        <button routerLink="/add" class="btn btn-primary ">Add +</button>

    </div>
    
    <div class="mt-4">
        <table class="table table-bordered table-hover ">
         <thead>
            <tr  class="table-success"  >
                <th>ID</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let item of allitems |  paginate: { itemsPerPage: 5, currentPage: p };">
                <td scope="row">{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price}}</td>
                <td>
                    <button routerLink="/{{item.id}}/edit" class="btn btn-secondary me-2">Edit</button>
                    <button (click)="Delete(item.id)" class="btn btn-warning">Delete</button>
    
                </td>
            </tr>
         </tbody>
        </table>
      <div class="text-center mt-5">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
</div>